@import url("./common.scss");

.banner {
  position: relative;
  height: 100vh;
  width: 100%;

  .banner-content {
    position: relative;
    z-index: 1;
    font-size: 4rem;
    text-align: center;
    top: 25%;
    overflow: hidden;
    height: 100vh;
    margin: 0 0.5rem;

    @media screen and (max-width: 1024px) {
      font-size: 3.3rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 2.58rem;
    }

    @media screen and (max-width: 426px) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 320px) {
      font-size: 2rem;
    }
  }

  img {
    position: absolute;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
  }
}
