@import './common.scss';


footer {
  background-color: white;
  font-family: $playfair;
  color:$black;
  font-weight: 300;
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 5%;
}

.footer-title {
  font-weight: 300px;
}

.footer-text {
  color: $grey;
  margin-top: 20px;
  font-weight: 300;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: $orange;
  text-decoration: none;
}

.footer-links  {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.span-bullet {
  color: $grey;
}

.email-footer {
  color: $orange;
}

.phone-footer {
  font-size: 30px;
  color: $black;
}

.copyright-container {
  background-color: $black;
  color: $grey;
  padding: 6%;
}

.copyright-container a {
  color: $orange;
  text-decoration: none;
}