@import './common.scss';

.navigation-bar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 4%;
  height: 30px;
  z-index: 2;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  gap: 14%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo-navbar {
  width: 200px;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  color: $white;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}

.mobile-menu.open {
  transform: translateX(0%);
}

.hamburger-react {
  position: absolute;
  right: 30px;
  z-index: 3;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 25px;
  padding: 0;
}

.menu a {
  color: $white;
  text-decoration: none;
  font-size: 30px;
  font-family: $open;
  font-weight: 300;
}

.menu li {
  list-style: none;
  transform: translateY(-30px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.menu a:nth-child(1) {
  transition-delay: 0.3s;
}

.menu li:nth-child(2) {
  transition-delay: 0.5s;
}

.menu li:nth-child(3) {
  transition-delay: 0.6s;
}

.menu li:nth-child(4) {
  transition-delay: 0.7s;
}
.mobile-menu li {
  opacity: 0;

}

.mobile-menu.open li {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .logo-navbar {
    width: 300px;
    justify-self: center;
  }

  .navigation-container {
    padding: 2% 10% 2% 2%;
  }
  .hamburger-react {
  position: absolute;
  right: 60px;
  z-index: 3;
}
}
